ul {
  list-style-type: none;
}

.heading {
  text-align: center;
}

img {
  position: relative;
  float: left;
  width:  200px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  border-radius: 10%;
  padding: 10px;
}

.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}
