
ul {
  list-style-type: none;
}

img {
  position: relative;
  float: left;
  max-width:  200px;
  max-height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  background: #D3D3D3;
  border-radius: 3%;
  padding: 15px;
}

.row {
  padding: 10px;
}

.card-body {
  text-align: center;
  background: #D3D3D3;
}

body {
  background-image: url("pink_clouds.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  font-family: 'Indie Flower', cursive;
}
.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}

.heading {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: #B5D3E7;
}

.center {
  text-align: center;
}

.message {
  background: grey;
}
