
ul {
  list-style-type: none;
}

img {
  position: relative;
  float: left;
  width:  200px;
  height: 200px;
  background-position: 50% 50%;
  background-repeat:   no-repeat;
  background-size:     cover;
  border: 5px solid #021a40;
  border-radius: 10%;
  padding: 15px;
}

.row {
  padding: 10px;
}

.card-body {
  text-align: center;
}

.main {
  background: #ffd0d7
}

.navbar {
  font-family: 'Indie Flower', cursive;
}
.navbar-nav > li{
  margin-left:10px;
  margin-right:10px;
}

.heading {
  text-align: center;
  font-family: 'Indie Flower', cursive;
}
